* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    margin: 0;
}

#content {
    height: 100%;
    width: 100%;
}

.app {
    display: flex;
    height: 100vh;

}

#content {
    flex: 1;
    overflow-y: auto;
    padding: 24px;
}


body {
    font-family: Arial, sans-serif;
    background: #112117;
    color: #fff;
}

.sidebar {
    width: 260px;
    background: #0f1f16;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    height: 100vh;
}

.brand {
    display: flex;
    gap: 12px;
    margin-bottom: 24px;
}

.avatar {
    width: 40px;
    height: 40px;
    background: #36e27b;
    color: #112117;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.nav {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.nav-item {
    padding: 10px 14px;
    border-radius: 20px;
    cursor: pointer;
    color: #9ca3af;

}

.nav-item.active {
    background: #42e081;
    color: #112117;

}

.nav-item:hover {
    background: #036b2d;
    color: #112117;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.header-actions button {
    margin-left: 8px;
}

.stats {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    margin-bottom: 32px;
}

.stat-card {
    background: #1c3024;
    padding: 16px;
    border-radius: 12px;
}

.content-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

button {
    background: transparent;
    border: 1px solid #36e27b;
    color: #36e27b;
    padding: 8px 14px;
    border-radius: 20px;
    cursor: pointer;
}

button.primary {
    background: #36e27b;
    color: #112117;
}

.logout {
    color: #e78484;
    cursor: pointer;
    padding: 8px 12px;
    border-radius: 20px;
}

.logout:hover {
    background-color: #4d1e1e;
    color: white;

}

.activity {
    background: #1c3024;
    border-radius: 14px;
    padding: 16px;
}

.activity-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

.activity-header h3 {
    font-size: 18px;
}


.activity-table {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.activity-row {
    display: grid;
    grid-template-columns: 1fr 1fr 0.4fr 0.8fr 0.5fr 0.5fr;
    align-items: center;
    padding: 6px 2px;
    border-radius: 10px;
    background: #112117;
    text-align: center;
}

.activity-row.header {
    background: transparent;
    font-size: 12px;
    color: #9ca3af;
    text-align: center;
}

.status {
    padding: 4px 10px;
    border-radius: 12px;
    font-size: 12px;
    text-align: center;
}

.status.pending {
    background: rgba(255, 193, 7, 0.15);
    color: #facc15;
}

.status.waiting {
    background: rgba(249, 115, 22, 0.15);
    color: #fb923c;
}

.status.success {
    background: rgba(54, 226, 123, 0.15);
    color: #36e27b;
}

.icon-btn {
    background: none;
    border: none;
    color: #9ca3af;
    transition: 0.2s;
    font-size: 12px;
}

.icon-btn:hover {
    scale: 1.5;

}